<ul class="posts noList">
{% for post in include.posts %}
  {% if site.debug %}
  <pre>
    post.categories={{ post.categories | jsonify }}
  </pre>
  {% endif %}
  <li>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
    <h3>
      <a class="post-link" 
      	 href="{{ post.url | prepend: site.baseurl }}"
      	 >{{ post.title }}</a>
      {% if post.draft %}[draft]{% endif %}
    </h3>
    <div class="description">
      {% if post.description %}
      {{ post.description}}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
      {% comment %}
      {{ post.content | split: '<!-- more -->' | first | rstrip }}
      {% endcomment %}
    </div>
    <p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more</a>
    </p>
  </li>
{% endfor %}
</ul>
