<ul class="posts noList">
{% for post in include.posts %}
  {% if site.debug %}
  <pre>
    post.categories={{ post.categories | jsonify }}
  </pre>
  {% endif %}
  <li>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
    <h3>
      <a class="post-link" 
      	 href="{{ post.url | prepend: site.baseurl }}"
      	 >{{ post.title }}</a>
      {% if post.draft %}[draft]{% endif %}
    </h3>
    <div class="description">
      {% if post.description %}
      {{ post.description | markdownify }}
      {% else %}
      {% assign readmore_html = "<a href='{{ post.url | prepend: site.baseurl }}' class='read-more read-more--inline'>Read more</a>" %}
      {{ post.excerpt 
         | strip_html 
         | rstrip 
         | append: readmore_html
         | markdownify }}
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
