{% if paginator.posts.size > 0  %}
{% assign posts = paginator.posts %}
<!-- paginator posts -->
{% else %}
{% assign posts = archive_posts %}
<!-- archive posts -->
{% endif %}

<ul class="posts noList">
{% for post in posts %}
  <li>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
    <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% if post.draft %}[draft]{% endif %}
    </h3>
    <p class="description">
      {% if post.description %}
      {{ post.description}}
      {% else %}
      {{ post.content | split: '<!-- more -->' | first }}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>
