
// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config"; 
@import "mixins/compass";

// Modules
@import "modules/buttons";
@import "modules/forms"; 
@import "modules/tables";
@import "modules/syntax"; 
@import "modules/paginator"; 

// Import Partials
@import "partials/typography";
@import "partials/grid";

// Mobile up base styles
@import "breakpoints/375up";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) { 
  @import "breakpoints/800up";
} 

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes

a.read-more {
  background-color: #333; //$primary-color;
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: 0.15em 0.5em;
  margin-left: 50%;
  text-align: center;
  text-decoration: none;
  transform: translate(-50%,-50%);

  &.read-more--inline {
    position: relative;
    display: inline-block;
    font-size: 80%;
    margin: 0 0 0 0.5em;
    transform: translate(0%,0%);
  }
}

li i[data-tag~="FIXME"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: yellow;
	border: 1px solid red;
}

.share-page {
    text-align: center;
    background: $white;
    color: $black;

    a {
        font-weight: 700;
        color: $link-color;
        margin-left: 10px;
    }
}

.highlighter-rouge {
  margin-bottom: 2rem;
  .highlight {
    margin: 0;
    padding: 5px;
  }
}

p img:first-child:last-child {
  width: 100%;
  // box-shadow: 0 0 10px rgba(0.5,0.5,0.5,0.75);
}

