
.paginator {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 10px 0;
  margin: 0;

  .page {
    a { 
      background-color: $secondary-color;
      border: 0px;
      border-radius: 4px;
      margin: 0;

      padding: 0.25em 0.5em;
      text-decoration: none; 
      color: white;
    }

    &.selected {
      a { 
        color: $secondary-color;
        background-color: white;
        border: 4px solid  $secondary-color;
        padding: calc(0.25em - 4px) calc(0.5em - 4px);
        text-decoration: none; 
        color: $secondary-color;
      }
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
