---
layout: default
---

<!-- assign archive_posts = site.categories[page.category] -->

{% comment %}
{{ paginator | jsonify }}
{% endcomment %}

<div class="home" id="home">
<h1 class="pageTitle">{{ page.title }}</h1>
{% include post_list.html posts=paginator.posts %}
</div>

<!-- POST NAVIGATION -->
<div class="postNav clearfix">
	{% if paginator.page_trail %}
	<ul class="paginator">
	{% if paginator.previous_page %}
    <li class="page">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="Previous page">&lt;</a>
    </li>
    {% endif %}
  	{% for trail in paginator.page_trail %}
    <li class="page {% if page.url == trail.path %}selected{% endif %}">
        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
  	{% endfor %}
	{% if paginator.next_page %}
    <li class="page">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="Next page">&gt;</a>
    </li>
    {% endif %}
	</ul>
	{% endif %}
</div>

